
<h1><center>Most Recent Conversations from 1130 3rd Ave. Oakland, CA</center></h1>

<div class= "col-md-3 col-md-offset-1" id="cat-but">

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "ALL", conversations_path %></h2>
</button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Recommend", conversations_path(type: 0) %></h2>
</button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Classified", conversations_path(type: 1) %></h2>
</button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Announcement", conversations_path(type: 2) %></h2></button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Safety", conversations_path(type: 3) %></h2>
</button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Event", conversations_path(type: 4) %></h2>
</button>

<button type="button", class="btn btn-warning btn-block">
<h2><%= link_to "Other", conversations_path(type: 5) %></h2>
</button>

</div>

<div class="col-md-6 col-md-offset-1" id="cat-list">
<hr>
<% @conversations.in_groups_of(1) do |group| %>
    <% group.compact.each do |conversation| %>
        <h2><%= link_to conversation.title.capitalize, conversation %></h2>
        <h5><%= conversation.category.cat_name.upcase %></h5>
        <p><%= time_ago_in_words(conversation.created_at).capitalize %> ago</p>
        <%=image_tag conversation.picture if conversation.picture.present?%>
        <p class= "lead"><%= truncate(conversation.content, :length => 150, separator: ' ', omission: ' ... (more)') %></p>
        <hr>
    <% end %>
<% end %>
</div>