
<div class="col-md-10 col-md-offset-1">
  <h1><center>My Neighbors: </center></h1> 
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr class="small">
          <th class="col-sm-2 col-xs-6"> Photo </th>
            <th class="col-sm-3 col-xs-4"> Name </th>
            <th class="col-sm-1 col-xs-2"> Apartment </th>
              <th class="col-sm-6 col-xs-6 "> Bio </th>
          </tr>

        <% @users.each do |user| %>
          <tr>  
            <div class="col-sm-3 col-xs-6">
              <td > <%= link_to user_path(user) do %>
                <%= image_tag("https://robohash.org/my-own-slug.png?size=75x75", class: 'img-responsive') %>
                <% end %>
              </td>
            </div>

            <div class="col-sm-3 col-xs-4">
              <td><%= link_to user_path(user) do %>
              <h4><%= user.name %></h4>
              <% end %>
              </td>
            </div>

            <div class="col-sm-1 col-xs-2">
              <td>
                <h5><%= user.apartment %></h5>   
              </td>
            </div>

            <div class="col-sm-3 col-sm-offset-1 col-xs-6 col-xs-offset-1">
              <td>
                <p><%= truncate(user.bio, :length => 200, seperator: ' ')%></p>
              </td>
            </div>
    
          </tr>
        <% end %>
      </table>

      </div>
    </div>
  </div>
