<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title> i Village</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<body>
<%= render 'layouts/nav_bar' %>
<br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm"id="banner-head" align="center">
          
          <h1><span class= "smaller"><i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i></span> <span id="ivillage"<b>&nbsp; i Village &nbsp; </b></span> <span class= "smaller"><i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i> <i class="fa fa-building"></i> <i class="fa fa-home"></i></span><br><i><h2>A social network to exchange ideas, goods, notices,<br>recommendations, and community spirit with your neighbors</i></h2></i></h1>
      
          <p><a class="btn btn-default btn-lg" href="#" role="button">Invite your neighbors</a></p>
        </div>
      </div>
    </div>
  </div>

<br>

<div class="container-fluid">
  <%= yield %>
</div>

<footer>
  <div class="container-fluid">
    i Village 2016
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
